clientkey.txt
hours.csv
hours.csv
hours.csv
hours.csv
*.csv
*.csv
CommonFunctions/__pycache__/csvTools.cpython-312.pyc
CommonFunctions/__pycache__/formatTools.cpython-312.pyc
StoredData/version.txt
hours.csv
/CommonFunctions/__pycache__
/CommonFunctions/__pycache__
CommonFunctions/__pycache__/formatTools.cpython-312.pyc
CommonFunctions/__pycache__/csvTools.cpython-312.pyc
*.pyc
/CommonFunctions/__pycache__
/.vs
